---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ethn.sh</title>
  </head>
  <body class="mx-4 text-center flex h-screen bg-white font-serif justify-center items-center">
    <div>
      <h1>too busy to put anything here so enjoy timothy spinning</h1>
      <img
        src="/timothy.gif"
        alt="timothy spinning :o"
        class="h-32 mx-auto mt-2"
      />
      <ul class="flex space-x-4 justify-center text-blue-500 underline mt-2">
        <li><a href="https://github.com/ethndotsh">github</a></li>
        <li><a href="https://cursecode.me">old site</a></li>
        <li><a href="https://bsky.app/profile/ethn.sh">bsky</a></li>
        <li><a href="https://read.cv/ethndotsh">read.cv</a></li>
      </ul>
    </div>
  </body>
</html>
